body {
  background: rgb(240,240,240);
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

ul{list-style: none;margin: 0;padding: 0}

.content {
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  text-align: center;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload p:first-of-type {
  max-width: 40%;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0px auto;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 1.5vw;
}

.file-upload p:last-of-type {
  max-width: 40%;
  background-color: #d9d9d9;
  padding: 10px;
  margin: 20px auto;
  border-radius: 1vh;
  cursor: pointer;
  font-size: 1.5vw;
}

.file-upload p:hover {
  opacity: 0.7;
}


.button {
  margin-top: 20px;
}

.button ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.button li {
  margin: 0.8vh 1vw;
  display: block;
}

.square-button {
  padding: 1.5vh;
  border: none;
  border-radius: 1vh;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5vw;
  font-weight:bold;
  margin-right: 0.5vw;
  float: left
}

.square-button:hover {
  background-color: #3e8e41;
}

.delete{
    background-color: #f00;
}

.delete:hover{
    background-color: #d00;
}

.button{margin-top: 20px}

.button li:first-child{margin-bottom: 10px}

.result {
  margin-top: 50px;
  text-align: center;
}

.result img {
  margin: 10px;
  max-width: 45%;
  max-height: 700px;
  height: auto;
  position: relative;
}

.result img:hover::before {
  content: "点击图片可下载";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  z-index: 1;
}

.result img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.show1 {
  opacity: 1;
}

.show2 {
  opacity: 1;
}

.bianse {
  background-color: #f44336;
}

.bianse:hover {
  background-color: #d32f2f;
}

.bianse:focus {
  outline: none;
}

#floating-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 2vh 2vw;
	display: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 1.5vw;
    z-index: 1000;
}

#window-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
    z-index: 999;
}

#floating-window.show {
	display: block;
}

#window-background.show {
	display: block;
}

#circle-button{
	width: 7vw;
	height: 21vw;
    position: fixed;
	bottom: 3vh;
	right: 1.5vw;
    z-index: 999;
}

.circle-button {
    margin: 0.7vw 0.7vw;
	width: 5.6vw;
	height: 5.6vw;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1.35vw;
	font-weight:bold;
    transition: all 0.3s ease;
}
.circle-button:hover {
    background-color: #006bdd;
}

#init-button {
    background-color: #f00;
}
#init-button:hover {
    background-color: #d00;
}